.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.col-4{
  width: 32%;
  /* border: 2px solid black; */
  /* border-radius: 15px; */
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  padding: 20px;
  margin-bottom: 15px;
  background-color: rgb(191, 230, 206);
}

#Input{
  border-radius: 7px;
  padding: 6px;
  margin: 8px 0 8px 8px;
  border: 2px solid black;
  /* margin-left: 37%; */
}

#selection{
  border-radius: 7px;
  padding: 5px;
  margin: 10px 0 8px 8px;
  border: 2px solid black;
  margin-left: 2%;
}

#Quiz_Que{
  font-size: 22px;
}

#que_Next {
  border-radius: 8px;
  padding: 7px;
  background-color: rgb(15, 210, 15);
  border: 1px solid black;
  margin-top: 15px;
}

#que_Next:hover{
  background-color: rgb(84, 224, 84);
}

#que_Prev:hover{
  background-color: rgb(231, 101, 101);
}

#que_Prev {
  border-radius: 8px;
  padding: 7px;
  background-color: rgb(219, 66, 66);
  border: 1px solid black;
  margin-left: 10px;
  color: black;
}

#submit{
  border-radius: 8px;
  padding: 7px;
  border: 1px solid black;
  margin-left: 4.7rem;
  margin-top: 1rem;
  background-color: aqua;
  color: black;
}

.cat_btn{
  border-radius: 7px;
  padding: 6px;
  margin: 8px 0 8px 8px;
  border: 2px solid black;
  margin-left: 20px;
  font-size: 14px;
}

.cat_btn:hover{
  background-color: #4ebe4e;
}

#submit:hover{
  background-color: rgb(115, 221, 221);
}

body{
  padding: 0 50px;
  /* background-color: black; */
}

#loader_img{
  /* border: 2px solid black; */
  border-radius: 7px;
  margin-left: 25%;
  margin-top: 15px;
  /* padding: 15px; */
  box-shadow: 0 4px 8px rgba(0,0,0,0.5)
}


* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--hue: 223;
	--bg: hsl(var(--hue),90%,95%);
	--fg: hsl(var(--hue),90%,5%);
	--trans-dur: 0.3s;
	/* font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));    */
}
body {
	/* background-color: var(--bg); */
	/* color: var(--fg); */
	/* font: 1em/1.5 sans-serif; */
	/* height: 100vh; */
	/* display: grid; */
  /* margin-top: 20%; */
	place-items: center;
	/* transition: backgro  und-color var(--trans-dur); */
}

#loaderrr{
  margin-top: 60%;
  font: 1em/1.5 sans-serif;
}
main {
	padding: 1.5em 0;
}
.ip {
	width: 16em;
	height: 8em;
}
.ip__track {
	stroke: hsl(var(--hue),90%,90%);
	transition: stroke var(--trans-dur);
}
.ip__worm1,
.ip__worm2 {
	animation: worm1 2s linear infinite;
}
.ip__worm2 {
	animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
		--bg: hsl(var(--hue),90%,5%);
		--fg: hsl(var(--hue),90%,95%);
	}
	.ip__track {
		stroke: hsl(var(--hue),90%,15%);
	}
}

/* Animation */
@keyframes worm1 {
	from {
		stroke-dashoffset: 0;
	}
	50% {
		animation-timing-function: steps(1);
		stroke-dashoffset: -358;
	}
	50.01% {
		animation-timing-function: linear;
		stroke-dashoffset: 358;
	}
	to {
		stroke-dashoffset: 0;
	}
}
@keyframes worm2 {
	from {
		stroke-dashoffset: 358;
	}
	50% {
		stroke-dashoffset: 0;
	}
	to {
		stroke-dashoffset: -358;
	}
}

#n_btn{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

#Nav_btn1{
  margin-left: 30%;
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(207, 49, 49);
}

#Nav_btn2{
  margin-right: 40%;
  padding: 10px 17px 10px 17px;
  border-radius: 6px;
  background-color: #5cca5c;
}

#btn_1{
  padding: 8px;
  border-radius: 6px;
  background-color: #61dafb;
}

#btn_2{
  padding: 8px;
  border-radius: 6px;
  background-color: #61dafb;
}

#btn_3{
  padding: 8px;
  border-radius: 6px;
  background-color: #61dafb;
}

#btn_4{
  padding: 8px;
  border-radius: 6px;
  background-color: #61dafb;
}

